<?xml version="1.0" encoding="UTF-8"?>

<generictdm>
	
	<target>
		<prop>
			<name>http://openurc.org/ns/res#instanceId</name>
			<value>Generic_Instance</value>
		</prop>
		<prop>
			<name>http://openurc.org/ns/res#targetFriendlyName</name>
			<value>Generic</value>
		</prop>
		<prop>
			<name>http://openurc.org/ns/res#devicePlatform</name>
			<value>Generic</value>
		</prop>
		<prop>
			<name>http://openurc.org/ns/res#deviceType</name>
			<value>http://openurc.org/devicetypes#thermostat</value>
		</prop>
		<prop>
			<name>http://openurc.org/ns/res#manufacturer</name>
			<value>Generic</value>
		</prop>
		<prop>
			<name>http://openurc.org/ns/res#modelName</name>
			<value>Generic</value>
		</prop>
		<prop>
			<name>http://openurc.org/ns/res#forTargetName</name>
			<value>http://res.openurc.org/devices/thermostat/targetdesc/template/lightWeightThermostat.td</value>
		</prop>
		<prop>	
		<name>http://openurc.org/ns/res#scriptFileName[http://res.openurc.org/devices/thermostat/uisocketdesc/template/lightWeightThermostat.uis]</name>
			<value>http://res.openurc.org/devices/thermostat/script/template/lightWeightThermostat.script</value>
		</prop>
		
	</target>
</generictdm>